* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.white {
    color: white;
}

.flexbox {
    display: flex;
}

.inlineblock {
    display: inline-block;
}

.mainbar {
    width: 100%;
    background-color: #ff6900;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    font-weight: 600;
    box-shadow: 0px 0.1px 3px #000000;
    z-index: 1;
}

.mainbar-nav, .endbar-nav {
    width: 70%;
    margin: auto;
    height: 100%;
}

.mainbar-nav-left {
    width: 33%;
    justify-content: flex-start;
    align-items: center;
}

.mainbar-nav-center {
    width: 33%;
    justify-content: center;
    align-items: center;
}

.mainbar-nav-right {
    width: 33%;
    justify-content: flex-end;
    align-items: center;
}

.mainbar-nav-left > ul, .endbar ul {
    list-style: none;
}

.mainbar-nav-left > ul > li, .mainbar-nav-right > a > i {
    padding: 5px;
}

.mainbar-nav-left > ul > li > a, .endbar a {
    text-decoration: none;
}

.mainbar-nav-left > ul > li > a:hover , .endbar-nav-left > ul > li > a:hover {
    text-decoration: underline;
}

.mainbar-nav-center > img {
    height: 50%;
}

.mainbox {
    width: 70%;
    margin: auto;
    margin-top: 130px;
    z-index: 0;
}

.firstline, .secondline {
    height: 50%;
    width: 100%;
    justify-content: space-around;
}

.boximg {
    width: 32%;
    height: 100%;
    position: relative;
}

.boximg .img1 {
    height: 100%;
    width: 100%;
}

.boximg .img2 {
    width: 100%;
}

.secondline {
    margin-top: 50px;
}

.heart {
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: black;
}

.leftbox {
    position: absolute;
    left: 0;
    bottom: 100px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.boxcontent {
    display: inline-block;
    padding: 3px 8px;
}

.normaltext {
    font-weight: 300;
    font-size: 15px;
}

.bigtext {
    font-weight: 500;
    font-size: 18px;
}

.number {
    display: inline-block;
    font-weight: 500;
    color: red;
    font-size: 15px;
}

.canceled {
    text-decoration: line-through;
    font-weight: 300;
}

.endbar {
    background-color: black;
    height: 100px;
    margin-top: 50px;
}

.endbar-nav-left {
    width: 50%;
}

.endbar-nav-right {
    width: 50%;
    text-align: right;
}

.endbar-nav-left > h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.endbar-nav-right > h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

ul li {
    padding-right: 10px;
    font-size: 15px;
}

.heart:hover {
    color: red;
}

.img2 {
    display: none;
}

.boximg:hover .img1 {
    display: none;
}

.boximg:hover .img2 {
    display: inline-block;
}

.endbar-nav-right > a > i {
    font-size: 25px;
}










































































































